.card-description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
@media screen {
  .card-description {
    -webkit-line-clamp: 6;
    font-size: 14px;
  }
}
