@media (min-width: 750px) {
  .movie-backdrop {
    box-shadow: inset 100px 50px 100px 10px #14181c,
      inset -50px -50px 100px 10px #14181c;
  }
}
.movie-backdrop {
  background-position: center -20px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 10px 20px 79px 12px #14181c, inset -6px -64px 82px 24px #14181c
}
.movie-body {
  background-color: #14181c;
}
