.replace {
  background: url(../assets/letterboxd-svg-file.svg) no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: no-wrap;
}
.site-header > .site-logo > .logo {
  background-position: 0 -800px;
  height: 40px;
  width: 62px;
  position: relative;
}
