@media (min-width: 750px) {
  .started-backdrop {
    box-shadow: inset 5px -46px 80px 109px #181c20;
  }
}
.backdrop-helper {
  box-shadow: 16px 130px 0px 200px #181c20;
}
.movie-body {
  background-color: #181c20;
}
.started-backdrop {
  background-repeat: no-repeat;
  background-size: cover;
}
