@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphik";
  src: url("../assets/font/graphic-web-regular.ttf");
  font-family: "Tiempos-Regular";
  src: url("../assets/font/TiemposHeadline-Regular.otf");
}

:root {
  --background-color: #17171b;
}

body {
  background-color: var(--background-color);
}

@layer base {
  html {
    font-family: "Graphik", system-ui, sans-serif;
    font-family: "Tiempos-Regular", system-ui, sans-serif;
  }

  .sans-serif {
    font-family: sans-serif;
  }
  .tiempos {
    font-family: "Tiempos-Regular";
  }
  .graphik {
    font-family: "Graphik";
  }
}
.movie-background-helper {
  background-color: var(--background-color);
}
.popup,
.popup-review {
  position: fixed;
  background-color: #141414fb;
  color: rgb(245, 237, 237);
  padding: 2rem;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
@media (min-width: 750px) {
  .popup {
    top: 45%;
    left: 50%;
    font-size: large;
  }
  .popup-review {
    top: 65%;
    left: 50%;
    font-size: large;
  }
}
@media (max-width: 750px) {
  .popup {
    width: 250px;
    top: 29%;
    left: 51%;
    font-size: 0.9rem;
  }
  .popup-review {
    width: 250px;
    top: 65%;
    left: 50%;
    font-size: 0.9rem;
  }
}
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

.member__avatar {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  min-width: 85px;
  min-height: 85px;
}

.users__wrapper:nth-child(1) a img {
  animation: borderPulse 2s infinite;
  border-width: 2px; /* Adjust as needed */
}

@keyframes borderPulse {
  0% {
    border-color: #678;
  }
  50% {
    border-color: #ff5733;
  }
  100% {
    border-color: #678;
  }
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  padding-top: 5px;
}
.divider-mobile {
  border-bottom: 1px solid #2c3641;
}
.mobile-nav {
  box-shadow: 0 10px 10px #0000008c;
}

.search-bar-mobile.active {
  display: flex;
}
.search-bar-mobile.inactive {
  display: none;
}
.mobile-dropdown-nav.active {
  display: flex;
}
.mobile-dropdown-nav.inactive {
  display: none;
}

.poster-frame {
  background-clip: padding-box;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(0, 0%, 100%, 0)
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(221, 238, 255, 0.35);
  box-sizing: border-box;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 110%;
  top: 0;
  white-space: nowrap;
}
@media (min-width: 750px) {
  .started-backdrop {
    box-shadow: inset 5px -46px 80px 109px var(--background-color);
  }
}
.backdrop-helper {
  box-shadow: 16px 130px 0px 200px var(--background-color);
}
.movie-body {
  background-color: var(--background-color);
}
.started-backdrop {
  background-repeat: no-repeat;
  background-size: cover;
}

.card-description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
@media screen {
  .card-description {
    -webkit-line-clamp: 6;
    font-size: 14px;
  }
}

@media (min-width: 750px) {
  .movie-backdrop {
    box-shadow: inset 5px -46px 80px 109px var(--background-color);
  }
}
.backdrop-helper {
  box-shadow: 16px 130px 0px 200px var(--background-color);
}

.movie-backdrop {
  background-repeat: no-repeat;
  background-size: cover;
}

.skeleton-loader__bone {
  align-items: center;
  /* border-radius: inherit; */
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

.skeleton-loader__bone::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skeleton-loader__bone::after {
  animation: loading 1.5s infinite;
  background: linear-gradient(
    90deg,
    rgba(11, 16, 20, 0),
    rgba(11, 16, 20, 0.3),
    rgba(11, 16, 20, 0)
  );
  transform: translate(-100%);
  z-index: 1;
}

.skeleton-loader__image {
  background: rgba(11, 16, 20, 0.12);
}

@keyframes loading {
  to {
    transform: translate(100%);
  }
}

.loading-dots {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

.loading-dots__wrapper {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
