@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik';
  src: url('./assets/font/graphic-web-regular.ttf');
  font-family: 'Tiempos-Regular';
  src: url('./assets/font/TiemposHeadline-Regular.otf');
}

@layer base {
  html {
    font-family: 'Graphik', system-ui, sans-serif;
    font-family: 'Tiempos-Regular', system-ui, sans-serif;
  }

  .sans-serif {
    font-family: sans-serif;
  }
  .tiempos {
    font-family: 'Tiempos-Regular';
  }
  .graphik {
    font-family: 'Graphik';
  }
}
.movie-background-helper {
  background-color: #14181cbe;
}
.popup,
.popup-review {
  position: fixed;
  background-color: #141414fb;
  color: rgb(245, 237, 237);
  padding: 2rem;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
@media (min-width: 750px) {
  .popup {
    top: 45%;
    left: 50%;
    font-size: large;
  }
  .popup-review {
    top: 65%;
    left: 50%;
    font-size: large;
  }
}
@media (max-width: 750px) {
  .popup {
    width: 250px;
    top: 29%;
    left: 51%;
    font-size: 0.9rem;
  }
  .popup-review {
    width: 250px;
    top: 65%;
    left: 50%;
    font-size: 0.9rem;
  }
}
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

.grid__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
  gap: 1rem;
}

.member__avatar {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  min-width: 85px;
  min-height: 85px;
}

.users__wrapper:nth-child(1) a img {
  animation: borderPulse 2s infinite;
  border-width: 2px; /* Adjust as needed */
}

@keyframes borderPulse {
  0% {
    border-color: #678;
  }
  50% {
    border-color: #ff5733;
  }
  100% {
    border-color: #678;
  }
}
