@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik';
  src: url("./assets/font/graphic-web-regular.ttf")
}

@layer base {
  html {
    font-family: 'Graphik', system-ui, sans-serif;
  }
}
.poster-frame {
  background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.5) 50%,hsla(0,0%,100%,0));
}