@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphik";
  src: url("./assets/font/graphic-web-regular.ttf");
  font-family: "Tiempos-Regular";
  src: url("./assets/font/TiemposHeadline-Regular.otf");
}

@layer base {
  html {
    font-family: "Graphik", system-ui, sans-serif;
    font-family: "Tiempos-Regular", system-ui, sans-serif;
  }

  .sans-serif {
    font-family: sans-serif;
  }
  .tiempos {
    font-family: "Tiempos-Regular";
  }
  .graphik {
    font-family: "Graphik";
  }
}
.movie-background-helper {
  background-color: #14181cbe;
}
.popup,
.popup-review {
  position: fixed;
  background-color: #141414fb;
  color: rgb(245, 237, 237);
  padding: 2rem;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  z-index:1000;
}
@media (min-width: 750px) {
  .popup {
    top: 45%;
    left: 50%;
    font-size: large;
  }
  .popup-review {
    top: 65%;
    left: 50%;
    font-size: large;
  }
}
@media (max-width: 750px) {
  .popup {
    width: 250px;
    top: 29%;
    left: 51%;
    font-size: 0.9rem;
  }
  .popup-review {
    width: 250px;
    top: 65%;
    left: 50%;
    font-size: 0.9rem;
  }
}
